<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<main>
    <h1 id="heading">Upload a File Here</h1>
    <p id="para">Reads CSV file and displays it's content in Tabular form</p>


    <center id="fileContainer">
        <div id="fileUploadContainer">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input id="fileInput" type="file" name="file" accept=".csv">
                <button id="Upload-btn" type="submit">Upload</button>
            </form>
        </div>

        <div id="FileContainer">
            <div id="uploadedFileHeading">
                <h1>Uploaded File</h1>
            </div>

            <!-- <h2>No files to show!</h2> -->

            <table>
                <thead>
                    <tr class="tableHead">
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.text</td>
                        <td>11-07-2023</td>
                        <td>01:12:00 PM</td>
                        <td><i class="fa-solid fa-up-right-from-square"></i></td>
                        <td><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                    <tr>
                        <td>1.text</td>
                        <td>11-07-2023</td>
                        <td>01:12:00 PM</td>
                        <td><i class="fa-solid fa-up-right-from-square"></i></td>
                        <td><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center> 

</main>
