body {
    margin: 0;
    padding: 0;
    background-color: #eef1f6;
}


#navbar {
    background-color: #407c87;
    height: 70px;
}

#logo{
    font-size: 35px;
    padding:12px 0 0 25px;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    font-weight: 700;
}

#logo a {
    text-decoration: none;
    color: #f6f8e2;
}