/* Search Section */
#file-name {
    margin-top: 10px;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}

input {
    font-size: 20px;
}

#search-btn {
    width: 130px;
    height: 30px;
    background-color: rgb(46, 78, 240);
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: #23B5D3;
}

p {
    font-size: 20px;
}

/* Design Table data */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

thead, tbody {
    border: 1px solid black;
}

.result-container {
    width: 90%;
}

thead {
    background-color: #283D3B;
    color: #fff;
}

tbody {
    background-color: #EFEFEF;
}

.highlight {
    background-color: #EAD637;
}